{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}
    <div class="container cent">
        <h1 style="text-align: center; font-weight: bold">Ingreso de Unidad</h1>
        <div class="row cent">
            <form method="POST" action="/submitIngresarUnidad/" class="well"  role="form" >

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="idTitle">ID</label>
                            <input type="text" name="id" class="form-control" id="idTitle" value="AUTOGENERADO" readonly="readonly">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="institucionTitle">Institución</label>

                            <select class="form-control" name="instituciones" id="institucionTitle">
                                {% for i in registrosInstituciones %}
                                    <option value="{{ i.in_id }}">{{ i.in_nombre }}</option>
                                {% endfor %}
                            </select>

                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="departamentoTitle">Departamento</label>
                            <select class="form-control" name="departamentos" id="departamentoTitle">
                                {% comment %}
                      {% for i in registrosDepartamentos %}
                          <option value="{{ i.de_id }}">{{ i.de_departmentName }}</option>
                      {% endfor %}
            {% endcomment %}
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="ciudadesTitle">Ciudad</label>
                            <select class="form-control" name="ciudades" id="ciudadesTitle">
                                {% for i in registrosCantones %}
                                    <option value="{{ i.ca_id }}">{{ i.ca_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="tipoTitle" >Tipo</label>
                            <select class="form-control" name="tipo" id="tipoTitle">
                                {% for i in registrosTipo %}
                                    <option value="{{ i.ti_id }}">{{ i.ti_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="estadoTitle" >Estado</label>
                            <select class="form-control" name="estado" id="estadoTitle">
                                <option value="EN ESPERA">EN ESPERA</option>
                                <option value="NO DISPONIBLE">NO DISPONIBLE</option>
                                <option value="ASIGNADO">ASIGNADO</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="unidadTitle">Unidad</label>
                            <input type="text" name="unidad" class="form-control" id="unidadTitle" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="personaTitle">Persona</label>
                            <input type="text" name="persona" class="form-control" id="personaTitle" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="telefonoTitle">Teléfono</label>
                            <input type="text" name="telefono" class="form-control" id="telefonoTitle" required>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="placaTitle">Placa</label>
                            <input type="text" name="placa" class="form-control" id="placaTitle" value="">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="modeloTitle">Modelo</label>
                            <input type="text" name="modelo" class="form-control" id="modeloTitle" value="">
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="usoTitle">Uso</label>
                            <input type="text" name="uso" class="form-control" id="usoTitle" value="">
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-8">
                        <div class="form-group">
                            <label for="notasTitle">Notas</label>
                            <input type="text" name="notas" class="form-control" id="notasTitle" value="">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="codigo_gisTitle">Código GIS</label>
                            <input type="text" name="codigo_gis" class="form-control" id="codigo_gisTitle" value="">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="marcaTitle">Marca</label>
                            <input type="text"  name="marca" class="form-control" id="marcaTitle" value="" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="anioTitle">Año</label>
                            <input type="text"  name="anio" class="form-control" id="anioTitle" value="" required>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="asignado_sistemaTitle">Asignado Sistema</label>
                            <input type="datetime-local"  name="asignado_sistema" class="form-control" id="asignado_sistemaTitle" value="" required>
                        </div>
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" onclick="window.location.href='/unidades/'">Cerrar sin guardar</button>
                    <button type="submit" class="btn btn-primary">Guardar Unidad</button>
                </div>
            </form>

        </div>
    </div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        $("#inicio").removeClass("active");
        $("#unidades").addClass("active");
        /*
         var now = new Date();
         var day = ("0" + now.getDate()).slice(-2);
         var month = ("0" + (now.getMonth() + 1)).slice(-2);
         var today = now.getFullYear()+"-"+(month)+"-"+(day) +"T"+now.getHours()+":"+now.getMinutes()+":00";
         $("#asignado_sistemaTitle").val(today);*/
        $( document ).ready(function() {
            cargarCombo($('#institucionTitle').val());
        });

        $('#institucionTitle').change(function(){
            cargarCombo($('#institucionTitle').val());
        }); //fin del changue de institucion

        function cargarCombo(id){
            $.ajax({
                data : {'id':id},
                url : '/buscarDepartamentoPorInstitucion/',
                type: 'get',
                success:function(data){
                    var sel = document.getElementById("departamentoTitle");
                    for(i=(sel.length-1); i>=0; i--) {
                        aBorrar = sel.options[i];
                        aBorrar.parentNode.removeChild(aBorrar);
                    }
                    for(var i=0 ; i<data.length;i++)
                        $("#departamentoTitle").append('<option value="'+data[i].pk +'"> '+data[i].fields.de_departmentName+ '</option>');
                }
            });//fin del ajax
        }
    </script>

{% endblock %}