{% extends 'base.html' %}


{% block body %}

    <div class="container cent">


            <h1 style="text-align: center; font-weight: bold">Ingreso de LÍNEA</h1>

    <div class="row cent">

      <form method="POST" action="/submitIngresarLinea/" class="well"  role="form"  onsubmit="return validarFormulario();">

  <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="id">ID</label>
            <input type="text" name="id" class="form-control" id="idTitle" readonly="readonly" value="Autogenerado">
          </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="operadoraTitle">OPERADORA</label>
            <input type="text" name="operadora" class="form-control" id="operadoraTitle" value="CNT" requidred>
        </div>
      </div>


  </div>

  <div class="row">
    <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="numeroTitle">Tipo Plan</label>
            <br/>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio1" id="radio1" value="NORMAL" onchange="desactivarInputOtro1();"> NORMAL&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label> <div class="visible-xs"><br/></div>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio1" id="radio2" checked value="TELEMETRIA" onchange="desactivarInputOtro1();"> TELEMETRÍA&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label> <div class="visible-xs"><br/></div>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio1" id="radio3" value="OTRO" onchange="activarInputOtro1();"> OTRO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
        </div>
        </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="otro_tipoTitle"></label>
            <input type="text" name="otro_tipo" class="form-control" id="otro_tipoTitle" readonly="readonly">
        </div>
    </div>
  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="ipTitle">IP</label>
            <input type="text" name="ip" class="form-control" id="ipTitle"  required> <div id="estadoIP"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="numeroTitle">Número Telefónico</label>
            <input type="text" name="numero" class="form-control" id="numeroTitle" required> <div id="estadoNumero"></div>
        </div>
      </div>

  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label for="fecha_activacionTitle">Fecha Activación</label>
            <input type="date" name="fecha_activacion" class="form-control" id="fechaActivacionTitle"  required>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="fecha_solicitudTitle">Fecha Solicitud</label>
            <input type="date" name="fecha_solicitud" class="form-control" id="fecha_solicitudTitle"  required>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="fecha_activacionTitle">Fecha Anulacion</label>
            <input type="date" name="fecha_anulacion" class="form-control" id="fecha_anulacionTitle"  readonly="true">
        </div>
      </div>

  </div>


    <div class="row">
        <div class="col-md-6 col-xs-12">
        <div class="form-group">
            <label for="numeroTitle">Servicio</label>
            <br/>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio2" id="radio4" checked value="GPS" onchange="desactivarInputOtro2();"> GPS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label> <div class="visible-xs"><br/></div>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio2" id="radio5" value="BOTON PANICO" onchange="desactivarInputOtro2();"> BOTÓN PÁNICO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label> <div class="visible-xs"><br/></div>
            <label class="radio-inline radioStyle">
            <input type="radio" name="radio2" id="radio6" value="OTRO" onchange="activarInputOtro2();"> OTRO&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </label>
        </div>
    </div>

    <div class="col-md-6">
        <div class="form-group">
            <label for="otro_servicioTitle"></label>
            <input type="text" name="otro_servicio" class="form-control" id="otro_servicioTitle"  readonly="readonly">
        </div>
    </div>
  </div>


    <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="id">SIM CARD</label>
            <input type="text" name="sim_card" class="form-control" id="sim_cardTitle" required> <div id="estadoSim_card"></div>
          </div>
      </div>

        <div id="respuestaAJAX">

        </div>

    </div>

        <div class="modal-footer">
        <button type="button" class="btn btn-default" onclick="window.location.href='/lineas/'">Cerrar sin Guardar</button>
        <button type="submit" class="btn btn-primary">Guardar Registro</button>
            </div>

          </form>


        </div>


    </div>

{% endblock %}

{% block js %}
    <script>
    $("#inicio").removeClass("active");
    $("#lineas").addClass("active");

    $(document).ready(function() {
        document.getElementById("ipTitle").focus();

        $("#ipTitle").blur(function() {
            $.ajax({
                data : {'ip': $("#ipTitle").val()},
                url : '/validarIP/',
                type : 'get',
                success: function(data){
                var estado = data;
                var mensaje = "";
                    if (estado == "True"){
                        mensaje="";
                    }
                    else{
                        mensaje="<p style=\"color: red;\">IP REPETIDA<p/>";
                    }
                $('#estadoIP').html(mensaje);
                        //location.reload();
                    }
            }); // fin del ajax
        }); // findel blur de ipTitle


        $("#numeroTitle").blur(function() {
            $.ajax({
                data : {'numero': $("#numeroTitle").val()},
                url : '/validarNumero/',
                type : 'get',
                success: function(data){
                var estado = data;
                var mensaje = "";
                    if (estado == "True"){
                        mensaje="";
                    }
                    else{
                        mensaje="<p style=\"color: red;\">NÚMERO REPETIDO<p/>";

                    }
                $('#estadoNumero').html(mensaje);
                        //location.reload();
                    }
            }); // fin del ajax
        }); // findel blur de ipTitle

        $("#fechaActivacionTitle").blur(function() {
             $("#fecha_solicitudTitle").val($("#fechaActivacionTitle").val());
        }); // findel blur de fecha activacion

        $("#sim_cardTitle").blur(function() {
            $.ajax({
                data : {'sim_card': $("#sim_cardTitle").val()},
                url : '/validarSim_card/',
                type : 'get',
                success: function(data){
                var estado = data;
                var mensaje = "";
                    if (estado == "True"){
                        mensaje="";
                    }
                    else{
                        mensaje="<p style=\"color: red;\">SIM CARD REPETIDA<p/>";

                    }
                $('#estadoSim_card').html(mensaje);
                        //location.reload();
                    }
            }); // fin del ajax
        }); // findel blur de ipTitle


    });

    function activarInputOtro1(){
        document.getElementById("otro_tipoTitle").readOnly = false;
        document.getElementById("otro_tipoTitle").focus();
    }

    function desactivarInputOtro1(){
        $("#otro_tipoTitle").val("");
        document.getElementById("otro_tipoTitle").readOnly = true;

    }

    function activarInputOtro2(){
        document.getElementById("otro_servicioTitle").readOnly = false;
        document.getElementById("otro_servicioTitle").focus();
    }

    function desactivarInputOtro2(){
        $("#otro_servicioTitle").val("");
        document.getElementById("otro_servicioTitle").readOnly = true;

    }


    function validarFormulario(){
        var estadoSim_card= document.getElementById("estadoSim_card").innerText;
        var estadoIP= document.getElementById("estadoIP").innerText;
        var estadoNumero= document.getElementById("estadoNumero").innerText;

        //alert (estadoSim_card);
        //alert (estadoIP);
        //alert (estadoNumero);

        if(estadoNumero == "" && estadoIP == "" && estadoNumero == "")
        {}
        else
            return false;

    }

    </script>
{% endblock %}