{% extends 'base.html' %}

{% block head %}

    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>


{% endblock %}


{% block body %}
    <div class="container cent">
        <div class="row well titulos">Acta de Entrega y Recepción de Equipos Periféricos para Centro ECU911 Machala.
        </div>

        <div class="row well">
            <form class="form-horizontal">
                <div class="col-md-6 ">

                    <div class="form-group">
                        <label for="institucionTitle" class="col-sm-3 "style="margin-top: 10px;">Institución</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="instituciones" id="institucionTitle">
                                {% for i in registrosInstituciones %}
                                    <option value="{{ i.in_id }}">{{ i.in_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="provinciaDeTrabajoTitle" class="col-sm-3">Provincia de Trabajo</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="provinciaDeTrabajoTitle" name="provinciaDeTrabajo" value="El ORO">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="ciudadesTitle" class="col-sm-3">Ciudad de Trabajo</label>
                        <div class="col-sm-9">
                            <select class="form-control" name="ciudades" id="ciudadesTitle">
                                {% for i in registrosCantones %}
                                    <option value="{{ i.ca_id }}">{{ i.ca_nombre }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="lugarDeInstalacionTitle" class="col-sm-3">Lugar de Instalación</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="lugarDeInstalacionTitle" name="lugarDeInstalacion" value="ECU 911">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="fechaDeInstalacionTitle" class="col-sm-3">Fecha de Instalación</label>
                        <div class="col-sm-9">
                            <input type="date" class="form-control" id="fechaDeInstalacionTitle" name="fechaDeInstalacion" required="">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="codigoUnidadTitle" class="col-sm-3">Código UNIDAD</label>
                        <div class="col-sm-5">
                            <input type="texto" class="form-control uni" id="codigoUnidadTitle" name="codigoUnidad" readonly="true" required>
                        </div>
                        <div class="col-sm-2">
                            <span class="btn glyphicon glyphicon-search" style="color: #000000; background-color: #acbad4" onclick="" data-toggle="modal" data-target="#myModal" title="Eliminar"> BUSCAR</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="marcaVehiculoTitle" class="col-sm-3">Marca de Vehículo</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="marcaVehiculoTitle" name="marcaVehiculo" readonly="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="modeloVehiculoTitle" class="col-sm-3">Modelo de Vehículo</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="modeloVehiculoTitle" name="modeloVehiculo" readonly="true">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="placaVehiculoTitle" class="col-sm-3" style="margin-top: 10px;">Placa</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="placaVehiculoTitle" name="placaVehiculo" readonly="true">
                        </div>
                    </div>

                    <div class="form-group" >
                        <label for="anioVehiculoTitle" class="col-sm-3" style="margin-top: 20px;">Año</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="anioVehiculoTitle" name="anioVehiculo" readonly="true" style="margin-top: 9px; ">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="estadoVehiculoTitle" class="col-sm-3" style="margin-top: 5px;">Estado Vehículo</label>
                        <div class="col-sm-9">
                            <input type="texto" class="form-control" id="estadoVehiculoTitle" name="estadoVehiculo" value="VEHICULO" required style="margin-top: 5px;">
                        </div>
                    </div>







                </div>

                <div class="col-md-6 well">

                </div>
            </form>
        </div>

    </div>


    <!-- modal de editar-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Seleccionar Unidad</h4>
                </div>
                <div class="modal-body">

                        <div class="table-responsive">
                                <table class="table table-striped table-content table-bordered table-hover " xmlns="http://www.w3.org/1999/html" id="table_id">
                                <thead class="btn-primary cabeceraTabla">
                                <th class="col-md-1">ID</th>
                                <th class="col-md-1">Unidad</th>
                                <th class="col-md-1">Marca</th>
                                <th class="col-md-1">Modelo</th>
                                <th class="col-sm-1">Placa</th>
                                <th class="col-sm-1">Año</th>
                                <th class="col-sm-1">OK</th>
                                </thead>
                                <tbody>
                                    {% for i in registrosUnidades %}
                                        <tr>
                                            <td>{{i.un_id}}</td>
                                            <td>{{i.un_unidad}}</td>
                                            <td>{{i.un_marca}}</td>
                                            <td>{{i.un_modelo}}</td>
                                            <td>{{i.un_placa}}</td>
                                            <td>{{i.un_anio}}</td>
                                            <td style="text-align: center"><span class="btn  glyphicon glyphicon-ok" title="Seleccionar" onclick="pasarDatosUnidad({{i.un_id }} , '{{ i.un_marca }}' , '{{ i.un_modelo }}' , '{{ i.un_placa }}' , '{{ i.un_anio}}' )"></span></td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                </div>
            </div>
        </div>
    </div>

    </div>
    <!-- fin del modal editar -->

{% endblock %}


{% block js %}
    <script>

        $("#inicio").removeClass("active");
        $("#ingresarActa").addClass("active");

        $(document).ready(function() {
            $('#table_id').dataTable( {
                "order": [],
                "aLengthMenu": [[ 25, 50, 75, 100, -1], [ 25, 50, 75, 100, "Todos"]],
                "language": {
                    "sProcessing":     "Procesando...",
                    "sLengthMenu":     "Mostrar _MENU_ registros",
                    "sZeroRecords":    "No se encontraron resultados",
                    "sEmptyTable":     "Ningún dato disponible en esta tabla",
                    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                    "sInfoPostFix":    "",
                    "sSearch":         "Buscar:",
                    "sUrl":            "",
                    "sInfoThousands":  ",",
                    "sLoadingRecords": "Cargando...",
                    "oPaginate": {
                        "sFirst":    "Primero",
                        "sLast":     "Último",
                        "sNext":     "Siguiente",
                        "sPrevious": "Anterior"
                    },
                    "oAria": {
                        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                    }
                }
            } );
            var now = new Date();
            var day = ("0" + now.getDate()).slice(-2);
            var month = ("0" + (now.getMonth() + 1)).slice(-2);
            var today = now.getFullYear()+"-"+(month)+"-"+(day) ;
            $("#fechaDeInstalacionTitle").val(today);
        });

        function pasarDatosUnidad(id, marca, modelo, placa , anio){
            $("#codigoUnidadTitle").val(id);
            $("#marcaVehiculoTitle").val(marca);
            $("#modeloVehiculoTitle").val(modelo);
            $("#placaVehiculoTitle").val(placa)
            $("#anioVehiculoTitle").val(anio);;
            $('#myModal').modal('hide')
        }
    </script>
{% endblock %}