{% extends 'base.html' %}

{% block head %}

        <!-- DataTables CSS -->
        <link rel="stylesheet" type="text/css" href="/static/DataTables/media/css/jquery.dataTables.css">

        <!-- jQuery -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.js"></script>

        <!-- DataTables -->
        <script type="text/javascript" charset="utf8" src="/static/DataTables/media/js/jquery.dataTables.js"></script>


{% endblock %}

{% block body %}

  <div class="container cent">
  <div class="row well titulos">UNIDADES</div>

  <div class="row">
        <button type="button" onclick="window.location.href='/ingresarUnidad/'" class="btn btn-primary" data-dismiss="modal">Ingresar Nueva Unidad</button>
        <br/><br/>
    </div>
   <div class="row">

    <div class="table-responsive">
                                <table class="table table-striped table-content table-bordered table-hover " xmlns="http://www.w3.org/1999/html" id="table_id2">

                                <thead class="btn-primary cabeceraTabla">
                                <th>ID</th>
                                <th>UNIDAD</th>
                                <th class="col-md-1">INSTITUCIÓN</th>
                                <th class="col-md-1">DEPARTAMENTO</th>
                                <th class="col-sm-1">CIUDAD</th>
                                <th class="col-sm-1">ESTADO</th>
                                <th>TIPO</th>
                                <th class="col-sm-1">EDIT</th>
                                </thead>
                                <tbody>
                                    {% for i in registros %}
                                        <tr>
                                        <td>{{i.un_id}}</td>
                                        <td>{{i.un_unidad}}</td>
                                        <td>{{i.un_institucion_id.in_nombre}}</td>
                                        <td>{{i.un_departamento_id.de_departmentName}}</td>
                                        <td>{{i.un_canton_id.ca_nombre}}</td>
                                        <td>{{i.un_estado}}</td>
                                        <td>{{i.un_tipounidad_id.ti_nombre}}</td>
                                        <td>
                                            <span class="btn glyphicon glyphicon-edit" style="color: #418BCA; width: 1px;padding-top:0px;height: 1px;vertical-align: baseline" aria-hidden="true" onclick="editarRegistro({{ i.un_id }} , '{{ i.un_institucion_id.in_id}}' , '{{ i.un_departamento_id.de_id}}'  , '{{ i.un_canton_id.ca_id}}' , '{{ i.un_tipounidad_id.ti_id }}' , '{{ i.un_estado |safe }}' , '{{ i.un_unidad }}', '{{ i.un_codigo_gis }}', '{{ i.un_persona }}', '{{ i.un_telefono }}' ,  '{{ i.un_notas | safe }}', '{{ i.un_placa }}', '{{ i.un_modelo }}', '{{ i.un_uso }}', '{{ i.un_asignado_sistema | safe}}' , '{{ i.un_anio }}' , '{{ i.un_marca }}')" data-toggle="modal" data-target="#myModal" title="Visualizar/Editar"></span>
                                            <span class="btn glyphicon glyphicon-remove" style="color: red;width: 1px;padding-top:0px;height: 1px; vertical-align: baseline" aria-hidden="true" onclick="anularRegistro({{ i.un_id }}, '{{ i.un_unidad }}', '{{ i.un_institucion_id.in_nombre}}' , '{{ i.un_tipounidad_id.ti_nombre }}')" data-toggle="modal" data-target="#myModal2" title="Anular" ></span>
                                        </td>
                                        </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>

    </div>
</div>

<!-- modal de editar-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Editar Unidad</h4>
      </div>
      <div class="modal-body">

<form method="POST" action="/editarUnidad/" class="well"  role="form" >

 <div class="row">
      <div class="col-md-4">
          <div class="form-group">
            <label for="idTitle">ID</label>
            <input type="text" name="id" class="form-control" id="idTitle" readonly="readonly">
          </div>
      </div>
      <div class="col-md-4">
          <div class="form-group">
            <label for="institucionTitle">Institución</label>
              <select class="form-control" name="instituciones" id="institucionTitle">
              </select>
          </div>
      </div>

     <div class="col-md-4">
         <div class="form-group">
            <label for="id">Departamento</label>
             <select class="form-control" name="departamentos" id="departamentoTitle">
             </select>
          </div>
     </div>

  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label for="ciudadesTitle">Ciudad</label>
              <select class="form-control" name="ciudades" id="ciudadesTitle">
              </select>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="tipoTitle" >Tipo</label>
            <select class="form-control" name="tipo" id="tipoTitle">
            </select>
        </div>
       </div>

      <div class="col-md-4">
        <div class="form-group">
            <label for="estadoTitle" >Estado</label>
            <select class="form-control" name="estado" id="estadoTitle">
                <option value="EN ESPERA">EN ESPERA</option>
                <option value="NO DISPONIBLE">NO DISPONIBLE</option>
                <option value="ASIGNADO">ASIGNADO</option>
            </select>
        </div>
       </div>

  </div>

  <div class="row">
      <div class="col-md-4">
        <div class="form-group">
            <label for="unidadTitle">Unidad</label>
            <input type="text" name="unidad" class="form-control" id="unidadTitle" value="" required>
        </div>
      </div>

      <div class="col-md-8">
        <div class="form-group">
            <label for="codigo_gisTitle">Código GIS</label>
            <input type="text" name="codigo_gis" class="form-control" id="codigo_gisTitle" value="" >
        </div>
      </div>
  </div>

  <div class="row">

      <div class="col-md-4">
          <div class="form-group">
            <label for="personaTitle">Persona</label>
            <input type="text" name="persona" class="form-control" id="personaTitle" value="" required>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
            <label for="telefonoTitle">Teléfono</label>
            <input type="text" name="telefono" class="form-control" id="telefonoTitle" value="" required>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
            <label for="origenTitle">Notas</label>
            <input type="text" name="notas" class="form-control" id="notasTitle" value="">
          </div>
      </div>

  </div>


  <div class="row">

      <div class="col-md-4">
          <div class="form-group">
            <label for="placaTitle">Placa</label>
            <input type="text" name="placa" class="form-control" id="placaTitle" value="">
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
            <label for="modeloTitle">Modelo</label>
            <input type="text" name="modelo" class="form-control" id="modeloTitle" value="">
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
            <label for="usoTitle">Uso</label>
            <input type="text" name="uso" class="form-control" id="usoTitle" value="">
          </div>
      </div>

  </div>

    <div class="row">

        <div class="col-md-4">
          <div class="form-group">
            <label for="marcaTitle">Marca</label>
            <input type="text"  name="marca" class="form-control" id="marcaTitle" value="" required>
          </div>
      </div>

        <div class="col-md-4">
          <div class="form-group">
            <label for="anioTitle">Año</label>
            <input type="text"  name="anio" class="form-control" id="anioTitle" value="" required>
          </div>
      </div>

      <div class="col-md-4">
          <div class="form-group">
            <label for="asignado_sistemaTitle">Asignado Sistema</label>
            <input type="datetime-local" name="asignado_sistema" class="form-control" id="asignado_sistemaTitle" value="" required>
          </div>
      </div>
<!--
      <div class="col-md-4">
          <div class="form-group">
            <label for="asignado_sisstemaTitle">Asignado Sistema</label>
            <input type="datetime" name="asignado_sistsema" class="form-control" id="asignado_sistemaTitlse" value="">
          </div>
      </div>
 -->
    </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar sin editar</button>
        <button type="submit" class="btn btn-primary">Editar Registro</button>
          </div>
          </form>

      </div>
    </div>
  </div>

</div>
<!-- fin del modal editar-->


<!-- modal de eliminar-->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"  data-backdrop="static">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Anular Unidad</h4>
      </div>
      <div class="modal-body">

<form method="POST" action="/anularUnidad/" class="well"  role="form" >

 <div class="row">
      <div class="col-md-6">
          <div class="form-group">
            <label for="id2">ID</label>
            <input type="text" name="id2" class="form-control" id="idTitle2" readonly="true">
          </div>
      </div>
      <div class="col-md-6"></div>

  </div>
  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="nombreUnidadTitle">Unidad</label>
            <input type="text" name="nombreUnidad" class="form-control" id="nombreUnidadTitle" readonly="true">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
            <label for="institucionTitle2" >Institución</label>
            <input type="text"  name="insititucion" class="form-control" id="institucionTitle2" readonly="true">
        </div>
       </div>

  </div>

  <div class="row">
      <div class="col-md-6">
        <div class="form-group">
            <label for="tipoUnidadTitle2">Tipo Unidad</label>
            <input type="text" name="tipoUnidad" class="form-control" id="tipoUnidadTitle2" value="" readonly="true">
        </div>
      </div>
  </div>


    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar sin Anular</button>
        <button type="submit" class="btn btn-danger">Anular Registro</button>
          </div>
          </form>

      </div>
    </div>
  </div>

</div>
<!-- fin del modal-->


{% endblock %}

{% block js %}
    <script>

    $("#inicio").removeClass("active");
    $("#unidades").addClass("active");

    $(document).ready(function() {
        $('#table_id2').dataTable( {
            "order": [],
            "aLengthMenu": [[ 25, 50, 75, 100, -1], [ 25, 50, 75, 100, "Todos"]],
            "language": {
                "sProcessing":     "Procesando...",
                "sLengthMenu":     "Mostrar _MENU_ registros",
                "sZeroRecords":    "No se encontraron resultados",
                "sEmptyTable":     "Ningún dato disponible en esta tabla",
                "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                "sInfoPostFix":    "",
                "sSearch":         "Buscar:",
                "sUrl":            "",
                "sInfoThousands":  ",",
                "sLoadingRecords": "Cargando...",
                "oPaginate": {
                    "sFirst":    "Primero",
                    "sLast":     "Último",
                    "sNext":     "Siguiente",
                    "sPrevious": "Anterior"
                },
                "oAria": {
                    "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                    "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                }
            }
        } );
    cargarComboBoxInstituciones();
    cargarComboBoxDepartamentos();
    cargarComboBoxCiudades();
    cargarComboBoxTipoDeUnidad();
    });

    function cargarComboBoxInstituciones(){
        $.ajax({
                url : '/cargarComboBoxInstituciones/',
                type : 'get',
                success: function(data){
                    for(var i=0;i<data.length;i++)
                        $("#institucionTitle").append('<option value="'+data[i].pk +'"> '+data[i].fields.in_nombre+ '</option>');
                    }// fin del success
               }); // fin del ajax
    }

    function cargarComboBoxDepartamentos(){
        $.ajax({
                url : '/cargarComboBoxDepartamentos/',
                type : 'get',
                success: function(data){
                    for(var i=0;i<data.length;i++)
                        $("#departamentoTitle").append('<option value="'+data[i].pk +'"> '+data[i].fields.de_departmentName+ '</option>');
                    }// fin del success
               }); // fin del ajax
    }

    function cargarComboBoxCiudades(){
        $.ajax({
                url : '/cargarComboBoxCiudades/',
                type : 'get',
                success: function(data){
                    for(var i=0;i<data.length;i++)
                        $("#ciudadesTitle").append('<option value="'+data[i].pk +'"> '+data[i].fields.ca_nombre+ '</option>');
                    }// fin del success
               }); // fin del ajax
    }

    function cargarComboBoxTipoDeUnidad(){
        $.ajax({
                url : '/cargarComboBoxTipoDeUnidad/',
                type : 'get',
                success: function(data){
                    for(var i=0;i<data.length;i++)
                        $("#tipoTitle").append('<option value="'+data[i].pk +'"> '+data[i].fields.ti_nombre+ '</option>');
                    }// fin del success
               }); // fin del ajax
    }

    function editarRegistro(id, institucion, departamento, ciudad, tipo, estado, unidad, codigo_gis, persona, telefono, notas, placa, modelo, uso, asignado_sistema, anio, marca){
        console.log("*****************");
        //console.log("asignado sistema --> " + asignado_sistema);
        console.log("estado --> " + estado);
        console.log("*****************");
        // var sel = document.getElementById('institucionTitle');
        $("#idTitle").val(id);
        $("#institucionTitle").val(institucion);
        $("#departamentoTitle").val(departamento);
        $("#ciudadesTitle").val(ciudad);
        $("#tipoTitle").val(tipo);
        $("#estadoTitle").val(estado);
        $("#unidadTitle").val(unidad);
        $("#codigo_gisTitle").val(codigo_gis);
        $("#personaTitle").val(persona);
        $("#telefonoTitle").val(telefono);
        $("#notasTitle").val(notas);
        $("#placaTitle").val(placa);
        $("#modeloTitle").val(modelo);
        $("#usoTitle").val(uso);
        $("#marcaTitle").val(marca);
        $("#anioTitle").val(anio);
        //$("#asignado_sistemaTitle").val(asignado_sistema);
        /*var now = new Date();
        var day = ("0" + now.getDate()).slice(-2);
        var month = ("0" + (now.getMonth() + 1)).slice(-2);*/
        //var today = now.getFullYear()+"-"+(month)+"-"+(day) +"T"+now.getHours()+":"+now.getMinutes();
        //var today = (day) + "/" + (month) + "/" + now.getFullYear()+"T"+now.getHours()+":"+now.getMinutes();
        var separados = asignado_sistema.split(" ");
        //$("#asignado_sistemaTitle").val("2014-10-08T12:05:00");
        $("#asignado_sistemaTitle").val(separados[0]+"T"+separados[1]);
    }

    function anularRegistro(id, nombreUnidad, institucion, tipoUnidad){

        $("#idTitle2").val(id);
        $("#nombreUnidadTitle").val(nombreUnidad);
        $("#institucionTitle2").val(institucion);
        $("#tipoUnidadTitle2").val(tipoUnidad);

    }

    </script>
{% endblock %}